.features {
    display: flex;
    margin-bottom: 3.1875rem;
    list-style: none;
}


.feature__icon {
    width: 2.8125rem;
    margin-right: 0.875rem;
}

.feature__text {
    font-style: 1rem;
    width: 5.625rem;
    height: 2.25rem;
    left: 3.25rem;
    margin-left: 3.4375rem;
    margin-top: -2.6875rem;
}