.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: 6.0625rem;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 1.125rem;
}

.form__block {
    flex: 1;
    margin-right: 4.3125rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: 1.125rem 0.6875rem;
}

.form__input--textrea {
    padding: 3.9375rem;
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: 4.9375rem;
    display: flex;
    justify-content: center;
}